// colors
$base-color: #5271FF;
$highlight-color: #00E4E3;
$secondary-color: whitesmoke;

// spacing
$spaces: (
    "extra-small": 0.5rem,
    "small": 1rem,
    "medium": 3rem,
    "large": 6rem,
    "extra-large": 9rem,
    )