@use "../../../styles/abstracts/mixins" as m;
@use "../../../styles/abstracts/variables" as v;

.trademark {
    @include m.flex-col;

    &__logo {
        @include m.flex-row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    &__img {
        height: 100px;
        width: auto;
    }

    &__name {
        font-weight: 900;
        font-size: 3rem;
        color: v.$base-color;
    }

    &__heading {
        font-size: 1.3rem;
    }
}