.trademark {
    height: 100%;
    width: 100%;
}

.trademark__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.trademark__name {
    font-size: 5rem;
    color: var(--text-color-primary);
}

.trademark__img {
    height: auto;
    width: 100px;
}

.trademark__heading {
    margin-top: 1rem;
    font-size: 1.5rem;
}