@use '/src/styles/abstracts/mixins' as m;
@use '/src/styles/abstracts/variables' as v;

.sign-up-form {
    @include m.flex-row;
    @include m.flex-center;
    height: 80%;
    background-color: v.$secondary-color;
    border-radius: map-get($map: v.$spaces, $key: "extra-small");
    padding: map-get($map: v.$spaces, $key: 'small') 0;

    &__form {
        @include m.full-space;
        @include m.flex-col;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        display: block;
        width: 90%;
        padding: map-get($map: v.$spaces, $key: 'small');
        border: none;
        border-radius: map-get($map: v.$spaces, $key: 'extra-small');

        &:focus {
            outline: none;
            border: 1px solid v.$base-color;
        }
    }

    &__button {
        margin-top: 2rem;
        width: 90%;
        padding: map-get($map: v.$spaces, $key: "small");
        border-radius: map-get($map: v.$spaces, $key: "extra-small");
        border: none;
        background-color: v.$base-color;
        font-size: 1.3rem;
        font-weight: 900;
        color: #fff;

        &:hover {
            cursor: pointer;
        }
    }
}