@use '../../../styles/abstracts/mixins' as m;
@use '/src/styles/abstracts/variables' as v;

.sign-up {
    @include m.flex-row;
    @include m.flex-center;
    @include m.full-space;
    min-height: 900px;
    overflow: hidden;
    padding: map-get($map: v.$spaces, $key: "extra-large") 20rem;

    &__logo {
        flex: 1;
    }

    &__form {
        flex: 0.5;
        height: 75%;
    }
}