.participant {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: 1rem 1rem;
}

.participant:hover {
    background-color: #ddd;
    cursor: pointer;
}

.participant__img {
    max-height: 50px;
    width: auto;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.participant__username {
    font-size: 1.3rem;
}

.participant__status {
    font-size: smaller;
}