.window {
    background-color: #fff;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--light-box-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.window__info {
    border-bottom: 1px solid rgba(221, 221, 221, 0.7);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    font-size: larger;
}

.window__messages {
    overflow-y: scroll;
    flex: 1;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    word-break: break-all;
}