.window {
    background-color: #fff;
    height: 100%;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--light-box-shadow);
    display: flex;
    flex-direction: column;
}

.window__info {
    border-bottom: 1px solid rgba(221, 221, 221, 0.7);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    font-size: larger;
}

.window__messages {
    flex: 1;
}

.window__send {
    font-size: larger;
    padding: 1rem;
    border-top: var(--light-border);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.window__input {
    flex: 1;
    font-size: inherit;
    font-size: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    border: 1px solid rgba(221, 221, 221, 0.7);
}

.window__input::placeholder {
    opacity: 0.7;
}

.window__input:focus {
    outline: 1px solid var(--text-color-highlight);
    caret-color: var(--text-color-highlight);
}

.window__input:focus::placeholder {
    opacity: 0.3;
}

.window__button {
    font-size: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    color: #fff;
}

.window__button:focus {
    outline: none;
}

.window__button--submit {
    background-color: var(--text-color-primary);
}

.window__button--submit:hover {
    background-color: var(--text-color-primary-hover);
}