.sidebar {
    background-color: #fff;
    height: 100%;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: var(--light-box-shadow);
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sidebar__name {
    text-align: center;
    font-size: larger;
}

.sidebar__search {
    font-size: 1rem;
    display: block;
    padding: 0.7rem;
    border-radius: 2rem;
    border: none;
    margin: 0 1rem;
    border: var(--light-border);
}

.sidebar__search::placeholder {
    opacity: 0.7;
}

.sidebar__search:focus {
    outline: 1px solid var(--text-color-highlight);
    caret-color: var(--text-color-highlight);
}

.sidebar__search:focus::placeholder {
    opacity: 0.3;
}

.sidebar__entries {
    border-top: 1px solid rgba(221, 221, 221, 0.7);
    overflow-y: scroll;
    flex: 1;
}